In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
spark = SparkSession.builder.getOrCreate()

In [3]:
columns1 = ["productid","name","price"]
data1 = [("1001", "Mixi","6000"), ("1002", "Fan","8000"), ("1003", "Grinder","9000"), ("1003", "Grinder","9000"), ("1004", "TV","9000")]
dfFromData1 = spark.createDataFrame(data1).toDF(*columns1)

In [4]:
dfFromData1.show()

In [5]:
columns2 = ["orderid","productid","date","quantity"]
data2 = [("2001","1001","2010-11-02","1"), ("2002","1002","2010-11-02","0"), ("2003","1003","2010-11-02","2"), ("2004","1004","2010-11-02","1")]
dfFromData2 = spark.createDataFrame(data2).toDF(*columns2)

In [6]:
dfFromData2.show()

In [14]:
#df = dfFromData2.join(dfFromData1,dfFromData1.productid ==  dfFromData2.productid,"inner")
dff = dfFromData2.join(dfFromData1,["productid"])

dff.show()
dff.count()

#   Output how many products have been actually sold at least once

In [18]:
#from pyspark.sql.functions import *
#import pyspark.sql.functions as f
from pyspark.sql.functions import countDistinct

print("Number of products sold at least once")
dff.agg(countDistinct(col("productid"))).show()

#   Question 2 
Find max of open in each month

In [25]:
columns1 = ["Date","open","close"]
data1 = [("2020-10-01 09:59:59", "100","105"), ("2020-10-03 09:59:59", "103","102"), ("2020-10-07 09:59:59", "104","110"), 
         ("2020-11-12 09:59:59", "110","112"), ("2020-11-16 09:59:59", "200","115"), ("2020-11-19 09:59:59", "95","92")]
dfFromData11 = spark.createDataFrame(data1).toDF(*columns1)

In [26]:
import pyspark.sql.types as t
dfFromData12 = dfFromData11.withColumn("Date", col("Date").cast(t.TimestampType())).withColumn("open", col("open").cast(t.IntegerType()))
dfFromData12.show()

In [28]:
from pyspark.sql.functions import month
df11 = dfFromData12.withColumn('month',month(dfFromData12.Date))
df11.show()

In [30]:
df22 = df11.groupBy("month").agg(max(col("open")))
df22.show()